@import "variables";
@import "mixin";

@font-face {
    font-family: 'Gilory';
    src: url('../fonts/Gilroy-Light.woff') format('woff'),
         url('../fonts/Gilroy-Light.otf') format('otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gilory';
    src: url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.eot') format('eot'),
    url('../fonts/Gilroy-SemiBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilory';
    src: url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.otf') format('otf');
    font-style: normal;
    font-weight: 800;
}

@keyframes bounce {
    0% { transform: translateY(-2000px)}
    70% { transform: translateY(30px)}
    90% { transform: translateY(-10px)}
    100% { transform: translateY(0)}
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: @baseFont;
    font-size: @baseFontSize;
    font-weight: 300;
    color: @color-base;
    letter-spacing: 0.04em;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: @color-base;
}

.blur {
    filter: blur(5px);
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 26px 0 18px;
    padding: 0;
    list-style: none;
    li {
        position: relative;
        margin-right: 44px;
        &:not(:last-of-type):after {
            content: '';
            position: absolute;
            top: 5px;
            right: -26px;
            width: 5px;
            height: 10px;
            background: url(../img/icon/bread-right.svg) no-repeat;
        }
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-family: @baseFont;
    font-size: @baseFontSize;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: @color-base;
    background-color: transparent;
    border: 1px solid @gray13;
}

.button:hover {
    background-color: @white;
    border: 1px solid @gray50;
}

.button:active {
    background-color: @gray01;
}

.catalog-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .slick-list {
        margin-left: -27px;
        margin-right: -29px;
        padding-top: 27px;
        padding-left: 27px;
        height: 550px;
    }
    .catalog-item {
        position: relative;
        margin-right: 27px;
        &:hover {
            z-index: 1001;
        }
        .catalog-item-link {
            display: block;
            width: 210px;
            text-align: left;
            margin-bottom: 9px;
            img {
                position: relative;
            }
            h4 {
                position: relative;
                margin: 0;
                padding: 0 0 10px;
                border-bottom: 1px solid @gray02;
                .catalog-category {
                    display: block;
                    margin-top: 11px;
                    font-size: @baseFontSize;
                    font-weight: 300;
                    color: @gray50;
                    letter-spacing: 0.04em;
                }
                .catalog-item-title {
                    display: block;
                    margin-top: 7px;
                    font-size: @baseFontSize;
                    font-weight: 300;
                    line-height: 19px;
                    color: @textGray;
                    letter-spacing: 0.04em;
                }
            }
        }
        .favorite {
            position: absolute;
            top: 11px;
            right: 10px;
            width: auto;
            z-index: 100;
        }
        .color {
            top: 188px;
            right: 6px;
            width: 16px;
            height: 16px;
            z-index: 100;
        }
        .catalog-price {
            position: relative;
            margin: 0;
            margin-top: 9px;
            padding: 0;
            font-family: 'Gilory', sans-serif;
            font-weight: 600;
            font-size: @cart_price;
            line-height: 24px;
            text-align: left;
        }
        .hide-block {
            display: none;
            position: absolute;
            padding: 370px 26px 0;
            left: -26px;
            top: -26px;
            width: 262px;
            background-color: @white;
            outline: 1px solid #dedede;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.05);
            .quantity, a {
                margin: 12px auto 0;
                text-align: center;
            }
            a {
                margin-bottom: 27px;
                padding: 17px 0 16px;
            }
            p {
                display: flex;
                justify-content: flex-start;
                margin: 30px auto 20px;
                color: @gray50;
                a {
                    margin: 0;
                    margin-left: auto;
                    padding: 0;
                    box-shadow: 0 1px 0 0 @color-base;
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
        &:hover {
            img,
            h4,
            p {
                z-index: 999;
            }
            .hide-block {
                display: block;
            }
        }
    }
}

.color {
    position: absolute;
    .bgcolor(@white);
    border-radius: 2px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-title {
    margin-top: 60px;
    font-size: @large;
    font-weight: @baseFontWeight;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-family: 'Gilory', sans-serif;
        font-weight: 300;
        font-size: @large - 1;
        line-height: 15px;
        color: @textGray;
        background-color: @white;
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .count,
    .goods__count {
        margin: 0 2px;
        display: flex;
        input {
            margin: 0;
            padding: 0;
            width: 26px;
            font-family: 'Gilory', sans-serif;
            font-size: @baseFontSize;
            line-height: 15px;
            color: @textGray;
            text-align: center;
            border: none;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.slick-prev {
    &::before {
        content: '';
        background: url(../img/icon-prev.svg) no-repeat;
        position: absolute;
        width: 6px;
        height: 23px;
    }
}

.slick-next {
    &::before {
        content: '';
        background: url(../img/icon-next.svg) no-repeat;
        position: absolute;
        width: 6px;
        height: 23px;
    }
}

.filter {
    margin: 40px 0;

    .filter__list {
        display: flex;

        .filter__item {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-right: 26px;

            label {
                margin-bottom: 12px;
            }

            .select-value {
                display: block;
                position: absolute;
                top: 50px;
                left: -36px;
                padding: 0;
                max-height: 0px;
                background: @white;
                border: 0;
                overflow: hidden;

                .price-value {
                    display: flex;
                    flex-wrap: nowrap;

                    label {
                        width: 210px;

                        &:first-child {
                            margin-right: 60px;
                        }

                        input {
                            padding: 5px;
                            width: 100%;
                            height: 44px;
                            font-size: @x-large;
                            font-weight: 300;
                            color: @color-base;
                            border: none;
                            border-bottom: 1px solid @gray13;

                            &::placeholder {
                                color: @gray50;
                            }
                        }
                    }
                }

                .filter-button {
                    margin: 56px auto 0;
                    font-size: 14px;
                    font-weight: 300;
                    color: @color-base;
                    text-transform: none;
                    border: none;
                    cursor: pointer;
                }

                &.open {
                    padding: 50px 50px 26px;
                    max-height: 1000%;
                    border: 1px solid @gray13;
                    z-index: 101;
                }
            }

            &--date {
                position: relative;
                display: block;

                input {
                    padding: 0 8px;
                    height: 40px;
                    font-size: @baseFontSize;
                    color: @color-base;
                    border: 1px solid @gray13;
                    cursor: pointer;
                }
            }
        }
    }
}

.custom-select {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 11px 0;
    width: 117px;
    text-align: left;
    border: 1px solid @gray13;
    list-style-type: none;
    cursor: pointer;

    li {
        padding: 0;
        text-indent: 20px;
        position: relative;

        .options {
            display: block;
            position: absolute;
            top: 40px;
            left: -36px;
            margin: 0;
            padding: 0;
            width: 248px;
            max-height: 0;
            background: transparent;
            list-style-type: none;
            overflow: hidden;

            &.open {
                padding: 10px;
                max-height: 1000%;
                background: @white;
                border: 1px solid @gray13;
                z-index: 101;
            }

            li {
                padding: 10px 0;

                &:hover {
                    background: @gray02;
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 10px;
        right: 9px;
        width: 24px;
        height: 24px;
        background: url(../img/icon/down.svg) no-repeat right center;
    }

    &.open:before {
        transform: rotate(-180deg);
    }
}

.form-input {
    .change-apply {
        margin: 0 auto;
        width: 300px;
        cursor: pointer;
    }
}

.input-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        position: relative;
        margin-top: 40px;
        width: 46%;

        &.w100 {
            width: 100%;
        }

        label {
            display: none;
            position: absolute;
            top: -16px;
            left: 0;
            font-size: 12px;
            color: @gray50;
            cursor: pointer;
        }

        input {
            width: 100%;
            height: 34px;
            min-width: 288px;
            font-family: inherit;
            font-size: @x-large;
            letter-spacing: 1.6px;
            color: @color-base;
            border: none;
            border-bottom: 1px solid @gray13;
            &::placeholder{
                color: @gray13;
            }
            &:focus + label {
                display: block;
            }
        }
    }

    .change-field {
        position: absolute;
        top: 8px;
        right: 8px;
        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -28px;
            width: 24px;
            height: 24px;
            background-image: url('../img/icon/refresh.svg');
        }
    }

    &--column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &--flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.radio-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        label{
            display: inline-block;
            padding: 15px;
            width: 220px;
            text-align: center;
            border: 1px solid @gray13;
            cursor: pointer;
        }

        input {
            display: none;
            &:checked + label {
                padding: 14px 15px 15px;
                font-weight: @baseFontWeightBold;
                background-color: @gray02;
            }
        }
        &:last-child {
            label {
                border-left: none;
            }
        }
    }
}


